body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(234, 227, 221);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* background-color: aliceblue; */
    background: url(https://images.unsplash.com/photo-1581478730747-4850812b9b14?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    font-size: 120%;
}
.box {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: #e6cbf8;


    background-color: rgb(231, 230, 241);
    border: 3px solid rgb(64, 6, 119);
    padding: 34px 19px;
            margin: 14px 19px;
            border-radius: 23px;
     width: 533px;
     background: url(https://scied.ucar.edu/sites/default/files/media/images/weather_0.jpg);


}
.weather{
  width: 34px;
  height: 34px;
}

.card{
    background: rgb(185, 95, 95);
    padding: 2em;
    border-radius: 30px;
    width: 2778px;
    height: 420px;
    margin: 1em;
    

}
a{
    
        margin: 0.5em;
        border-radius: 50%;
        border: none;
        height: 44px;
        width: 44px;
        outline: none;
        background: #9020202b;
        color: rgb(231, 224, 224);
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }
.search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#110d13 ;
    margin: 0.5em;
    border-radius: 3px;
    border: none;
    height: 46px;

  }
  a:hover {
    background: #0eb03c6b;
  }
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #6006e62b;
    color: rgb(12, 10, 10);
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
  .weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: rgb(152, 16, 220);
    position: absolute;
    top: 0;
    left: 20px;
  }


